.newspaperView {
  margin-bottom: 30px;
  /* position: relative; */
}

.tagline {
  font-size: 32px;
  font-weight: 700;
  color: #bf252a;
}

.viewSection {
  /* width: 100%; */
  /* height: max-content; */
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  position: relative;
}

.book{
  /* margin: 0 auto; */
}

.zoomButtonBoard {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: black;
  opacity: 80%;
}

.zoomIcons {
  color: white;
}

.resetText {
  text-transform: uppercase;
  color: white;
  margin-bottom: 0;
  font-weight: bold;
}

.buttonBoard {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.loadingPlaceholder {
  width: 100%;
  height: 636px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
}

.spinner {
  width: 7rem;
  height: 7rem;
}

.button {
  border: none;
  outline: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: 80%;
}

.prevButton {
  position: absolute;
  left: 0;
}

.nextButton {
  position: absolute;
  right: 0;
}

.pageFlipBtnText {
  display: block;
  margin-bottom: 0;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

@media screen and (max-width: 600px) {
  .pageFlipBtnText {
    display: none;
  }
}

.flipPageIcon {
  color: white;
}
