.tagline {
  font-size: 32px;
  font-weight: 700;
  color: #bf252a;
}

.viewSection {
  width: 100%;
  height: max-content;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  position: relative;
}

.viewSection2 {
  display: block;
}

.demoPage {
  padding: 0 0.5rem;
  /* background-color: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: min-content; */
}

.buttonBoard {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #d9d9d9;
  /* border: 2px solid black; */
  box-shadow: 5px 5px 10px gray;
}

.button {
  border: none;
  outline: none;
  background-color: transparent;
  margin: 0 10px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
