.carouselContainer {
  margin-bottom: 80px;
  position: relative;
}

.controlIcons {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 0, "opsz" 48;
  /* transform: scale(1.5); */
}

.prevIcon {
  position: absolute;
  top: 50%;
  left: 0;
  cursor: pointer;
}

.nextIcon {
  position: absolute;
  top: 50%;
  right: 0;
  cursor: pointer;
}

.slick-dots {
  bottom: -50px;
  /* transform: scale(2); */
}
